<div class="row">
  <div class="col-12">
    <agm-map [latitude]="-30.09143556198" [longitude]="-51.178003153111 ">
      <agm-direction *ngFor="let stop of listStops | async" [travelMode]="'DRIVING'" [origin]="stop['origin']"
        [transitOptions]="transitOptions" [destination]="stop['destination']">
      </agm-direction>
    </agm-map>
  </div>

  <div class="col-12" *ngIf="coordenate.length!==0;else emptyMessage">
    <h3 class="tex-center">
      Trechos
    </h3>
    <div>
      <div class="paradas list-group list-group-horizontal-lg ">
        <button class="list-group-item text-nowrap" (click)="changeDirection(stop.origin,stop.destination,i)"
          *ngFor="let stop of coordenate ;let i = index" [ngClass]="{'active': i ===stopIndex}">
          <span>
            {{i+1}}º Trecho
          </span>
        </button>

      </div>
    </div>
  </div>

  <ng-template  #emptyMessage>
    <div class="col-12 p-3">
      <span class="alert alert-info text-center d-block">
        Nenhuma linha foi selecionada
      </span>
    </div>
    </ng-template>
</div>
