<div class="container">
  <div class="row">

    <div class="col-12 justify-content-center">

      <div class="jumbotron m-4">
        <div class="row">

          <div class="col-12 p-3">
            <h1 class="display-5 text-center">Guia de Transporte Publico de Porto Alegre !</h1>
          </div>

          <div class="col-6  text-center">
            <a [routerLink]="['/onibus']" routerLinkActive="router-link-active">
              <button type="button" class="btn btn-warning btn-lg"><i class="fa fa-bus p-2"></i> <span
                  class="">Ônibus</span></button>
            </a>
          </div>

          <div class="col-6 text-center">

            <a [routerLink]="['/lotacao']" routerLinkActive="router-link-active">
              <button type="button" class="btn btn-danger btn-lg"><i class="fa fa-bus p-2"></i> <span
                  class="">Lotação</span></button>
            </a>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
