<app-navbar>

</app-navbar>
<div class="container">
  <div class="row">
    <div class="col-12 p-3">

        <div class="row">
          <div class="col-12 text-center p-3">
            <h1>Sobre</h1>
          </div>
          <div class="col-5 text-center">
            <h4>Itineraries DataPoa</h4>
            <p>Projeto desenvolvido como uma das etapas do processo de seletivo para desenvolvedor Desenvolvedor Front-End Node/Angular
            </p>
          </div>

          <div class=" p-3 col-7" style="max-width: %;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <div class="card-img perfil" alt="..."></div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Ernesto Junior Silva Ribarr</h5>
                  <p class="card-text">Desenvolvedor front-end viciado em cappuccino, cubo mágico e aprender algo novo, 2 anos de experiência e atualmente gostando muito de programação reativa.</p>
                  <p class="card-text"><small class="text-muted">  <a href="https://www.linkedin.com/in/ribarrjr/" ><i style="color: blue;" class="fa fa-linkedin-square"></i></a>
                    <a href="https://github.com/RibarrJR" class=""><i class="fa fa-github-square"></i></a></small></p>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
